version: '3.3'
services:
  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.10
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - --api.insecure=true
      - --providers.docker
      - --providers.docker
      - --providers.docker.exposedbydefault=false
      - --entryPoints.web.address=:80
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - edusta
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.fbi.com`)"
      - "traefik.http.routers.traefik.entryPoints=web"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
      
  nettisivu:
      image: httpd:latest
      ports:
        - 8000:80
      volumes:
        - type: bind
          source: ./nettisivu
          target: /usr/local/apache2/htdocs
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.traefik.rule=Host(`nettisivu.fbi.com`)"
        - "traefik.http.routers.traefik.entryPoints=web"
        - "traefik.http.services.traefik.loadbalancer.server.port=8000"
      networks:
        - tausta
        - edusta

  database:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=database-1
    volumes:
      - ./volumes/db/db_data:/var/lib/mysql # ei julkaista www volumeen
    networks:
      - tausta  # ===> private networkkiin tietenkin database

volumes:
  html:
    driver: local
    name: "html"

networks:
  edusta:
    driver: bridge
  tausta:
    driver: bridge